// Add your view handlers here.
//
// Example:
//
// #[modo::view(template = "app/dashboard.html")]
// #[modo::handler(GET, "/dashboard")]
// async fn dashboard() -> modo::ViewResult {
//     modo::ViewResult::ok()
// }
