// Add your database entities here.
//
// Example:
//
// #[modo_db::entity(table = "items")]
// #[entity(timestamps)]
// pub struct Item {
//     #[entity(primary_key, auto = "ulid")]
//     pub id: String,
//     pub title: String,
// }
