{% raw %}---
subject: "Welcome to {{project_name}}, {{name}}!"
layout: default
---

Hi **{{name}}**,

Thanks for joining **{{project_name}}**! We're glad to have you.

[button|Get Started]({{dashboard_url}})

If you have any questions, just reply to this email.
{% endraw %}
