// Add your HTTP handlers here.
//
// Example:
//
// #[modo::handler(GET, "/api/items")]
// async fn list_items(db: modo::Service<modo_db::DbPool>) -> modo::JsonResult<Vec<String>> {
//     Ok(modo::Json(vec![]))
// }
